.backgroundA {
  background: #ebdada;
}

.landingPage {
  min-width: 100vw;
  height: 100vh;
  min-height: 574px;
  background: url("../images/background3-3-min.jpg");
  background-size: cover;
  overflow-x: hidden;
  overflow-y: hidden;
  -webkit-clip-path: polygon(0 0, 100vw 0, 100vw 90%, 0 100%);
  clip-path: polygon(0 0, 100vw 0, 100vw 90%, 0 100%)
}

.backgroundOverlay {
  min-height: 586px;
  height: 100%;
  background: linear-gradient(#ebdada, #e4dada, white);
  opacity: 0.9;
}

.content1 {
  background: linear-gradient(#ebdada, #e4dada, white);
}

.shopNow {
  width: 100%;
  height: 45px;
  font-family: 'Roboto', sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: white;
  background-color: black;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.learnMore:hover {
  background-color: pink;
  box-shadow: 0px 15px 20px rgba(151, 92, 132, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

.learnMore {
  width: 100%;
  height: 45px;
  font-family: 'Roboto', sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: black;
  background-color: transparent;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.shopNow:hover {
  background-color: rgb(73, 202, 150);
  box-shadow: 0px 15px 20px rgba(20, 194, 124, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

#vidCol {
  height: calc(100vh - 68px);
}

.textContainer {
  height: calc(100vh - 68px);
}

.introText {
  position: relative;
  top: 50%;
  transform: perspective(1px) translateY(-50%);
  padding-left: calc(2vw + 10px);
}

.vidObject {
  min-height: 500px;
}

.headerStyle {
  box-shadow: none;
  max-width: 1400px;
  width: 100%;
  margin: 0px auto 0;
  margin-bottom: 10px;
  padding: 0 24px;
  background: transparent;
}

.logoStyle {
  float: left;
  height: 64px;
  width: auto;
  margin-right: 15px;
  margin-top: 5px;
  display: none;
}

.logoTextStyle {
  font-family: 'Merriweather';
  border-left: 1px solid #989a9e;
  padding-left: 15px; 
  font-size: 1.5em;
  letter-spacing: 1.7px;
  text-shadow: 1px 1px 4px #aaa;
  color: black;
  display: none;
}

@media (max-width: 1200px), (max-aspect-ratio: 30/29) {
  .landingPage {
    height: 100%;
  }

  #vidCol {
    height: 100%
  }

  .vidObject {
    min-height: 0px;
    direction: initial;
    width: 100%;
  }

  .textContainer {
    height: auto;
  }  

  .introText {
    transform: translateY(0%);
    top: 0;
    padding-left: 0px;
    padding-bottom: 100px;
    padding-top: 10px
  }

  .headerStyle {
    height: 110px;
    text-align: center;
    margin-bottom: 0px;
  }

  .logoHeader {
    display: inline-block;
    text-align: center
  }

  .logoStyle {
    display: block;
    display: block inline-block;
    float: none;
    margin: 5px 0 0 0;
    height: 100px;
  }

  .logoTextStyle {
    display: none;
  }
}