.landingPage {
  width: 100vw;
  height: 100vh;
  background-image: url("../images/background3-1.jpg");
  background-size: cover;
  overflow-x: hidden;
}

.backgroundCover {
  width: 100vw;
  height: 100vh;
  background-color: rgba(255,255,255,0.1);
}